html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.input-section,
.deck-of-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.deck-of-cards {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -165px;
}

.input-section {
  margin-bottom: 20px;
}

.image {
  transition: transform 0.1s ease;
}

.image:hover {
  transform: translateY(-65px);
}

.image:hover ~ .image {
  transform: translateX(20px);
}
