.header {
  margin-bottom: 10px;
}

.config tr {
  line-height: 40px;
}

.left {
  padding-right: 10px;
}

.config-table {
  margin: 1rem;
}

.config-input {
  width: 100px;
  height: 25px;
}

.card-spacing {
  width: 108px;
  height: 31px;
}

.note {
  padding-left: 10px;
  color: var(--note-color);
}

.start-btn-div {
  padding-top: 1em;
}

.start-btn {
  padding: 0.78571429em 1.5em 0.78571429em;
  border-radius: 0.28571429rem;
  background-color: var(--button-ok-background-color);
  color: var(--button-ok-text-color);
}

/* .parent { } */
