.config-table {
  margin: 1rem;
}

.config-input {
  width: 100px;
  height: 25px;
}

.card-spacing {
  width: 108px;
  height: 31px;
}

.note {
  color: var(--note-color);
}

.start-btn-div {
  padding-top: 1em;
}

.start-btn {
  padding: .78571429em 1.5em .78571429em;
  border-radius: .28571429rem;
  color: black;
  background-color: var(--button-ok-background-color);
  color: var(--button-ok-text-color);
}
