.graph {
  position: relative;
}

.date-range-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #69D2E7;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}
