.header {
  display: flex;
  align-items: center;
  background-color: var(--sidebar-header-background-color);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.main-div-header {
  flex: 1;
  display: flex;
  vertical-align: middle;
}

.title {
  padding-top: 0.5em;
}

.div-stats-button {
  flex: 1;
  text-align: right;
}

.stats-button {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: var(--button-ok-background-color);
  color: var(--button-ok-text-color);
}
